<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="test_rail_update" value="true"/>
    <add key="test_rail_server" value="https://autorani.testrail.net"/>
    <add key="test_rail_user" value="srijaya.suresh@slalom.com"/>
    <add key="test_rail_pwd" value="Jenkins1"/>
    <add key="test_rail_project_id" value="1"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup><specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow></configuration>
